* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 6.25%;
}
h1 {
  font-size: 30rem;
}
.navigation {
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.navigation li {
  list-style: none;
  font-size: 18rem;
  background-color: goldenrod;
  border-radius: 5rem;
  margin: 5rem;
  padding: 8rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.card {
  font-size: 20rem;
  padding: 10rem;
  border-radius: 5rem;
  height: 450rem;
  width: 28%;
  margin: 20rem 0rem;
  box-shadow: 10px 10px 46px -6px #000000;
}
.card img {
  height: 86%;
  width: 100%;
  object-fit: contain;
  border-radius: 5rem;
}

.tags input {
  font-size: 15rem;
  padding: 5rem 8rem;
  background-color: gray;
  border: none;
  border-radius: 10rem;
  margin: 3rem;
  color: white;
}
.search_input {
  height: 28rem;
  width: 250rem;
  padding: 3rem 5rem;
}
.search_btn {
  padding: 3rem 5rem;
  font-size: 15rem;
}
